{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}


{% block content %}
  <div id="content-main">
    <div class="row">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}<div class="errornote">{{ form.non_field_errors }}</div>{% endif %}
        <fieldset class="module aligned">
          {% for field in form %}
              <div class="form-row">
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.name %} field-{{ field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                  {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                  {% if field.is_checkbox %}
                      {{ field }}{{ field.label_tag }}
                  {% else %}
                      {{ field.label_tag }}
                      {% if field.is_readonly %}
                          <div class="readonly">{{ field.contents }}</div>
                      {% else %}
                          {{ field }}
                      {% endif %}
                  {% endif %}
                  {% if field.help_text %}
                      <div class="help">{{ field.help_text|safe }}</div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row mb-0">
          <input type="submit" value="{% trans "Cancel, Take me back!" %}" name="_cancel">
          <input type="submit" value="{% trans "Save" %}" class="default" name="_save">
        </div>
      </form>
    </div>
  </div>
  <div id="content-related">
  </div>
{% endblock %}
